# Importing libraries and Data

In [24]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [25]:
# To use the os.path.join function by defining the path
path = r'/Users/oluwaseunodusanya/Desktop/23.07.2023_Germany Apartment Rental Offer Analysis'

In [26]:
path

'/Users/oluwaseunodusanya/Desktop/23.07.2023_Germany Apartment Rental Offer Analysis'

In [27]:
# To Import Germany rental data by postal code
df_rental = pd.read_csv(os.path.join(path, '02 Data', '01 Original Data', 'immo_data_rental.csv'), index_col=False)

In [28]:
df_rental.head()

,regio1,serviceCharge,heatingType,telekomTvOffer,telekomHybridUploadSpeed,newlyConst,balcony,picturecount,pricetrend,telekomUploadSpeed,...,regio2,regio3,description,facilities,heatingCosts,energyEfficiencyClass,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
0,Nordrhein_Westfalen,245.00,central_heating,ONE_YEAR_FREE,NaN,False,False,6,4.62,10.0,...,Dortmund,Schüren,Die ebenerdig zu erreichende Erdgeschosswohnun...,Die Wohnung ist mit Laminat ausgelegt. Das Bad...,NaN,NaN,NaN,NaN,NaN,May19
1,Rheinland_Pfalz,134.00,self_contained_central_heating,ONE_YEAR_FREE,NaN,False,True,8,3.47,10.0,...,Rhein_Pfalz_Kreis,Böhl_Iggelheim,Alles neu macht der Mai – so kann es auch für ...,NaN,NaN,NaN,2019.0,NaN,NaN,May19
2,Sachsen,255.00,floor_heating,ONE_YEAR_FREE,10.0,True,True,8,2.72,2.4,...,Dresden,Äußere_Neustadt_Antonstadt,Der Neubau entsteht im Herzen der Dresdner Neu...,"* 9 m² Balkon\n* Bad mit bodengleicher Dusche,...",NaN,NaN,NaN,NaN,NaN,Oct19
3,Sachsen,58.15,district_heating,ONE_YEAR_FREE,NaN,False,True,9,1.53,40.0,...,Mittelsachsen_Kreis,Freiberg,Abseits von Lärm und Abgasen in Ihre neue Wohn...,NaN,87.23,NaN,NaN,NaN,NaN,May19
4,Bremen,138.00,self_contained_central_heating,NaN,NaN,False,True,19,2.46,NaN,...,Bremen,Neu_Schwachhausen,Es handelt sich hier um ein saniertes Mehrfami...,Diese Wohnung wurde neu saniert und ist wie fo...,NaN,NaN,NaN,NaN,NaN,Feb20

## Data Wrangling

In [29]:
# To generate information about the data columns
df_rental.info(50)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   regio1                    268850 non-null  object
 1   serviceCharge             261941 non-null  float64
 2   heatingType               223994 non-null  object
 3   telekomTvOffer            236231 non-null  object
 4   telekomHybridUploadSpeed  45020 non-null   float64
 5   newlyConst                268850 non-null  bool
 6   balcony                   268850 non-null  bool
 7   picturecount              268850 non-null  int64
 8   pricetrend                267018 non-null  float64
 9   telekomUploadSpeed        235492 non-null  float64
 10  totalRent                 228333 non-null  float64
 11  yearConstructed           211805 non-null  float64
 12  scoutId                   268850 non-null  int64
 13  noParkSpaces              93052 non-null   float64
 14  firingTypes               211886 non-null  object
 15  hasKitchen                268850 non-null  bool
 16  geo_bln                   268850 non-null  object
 17  cellar                    268850 non-null  bool
 18  yearConstructedRange      211805 non-null  float64
 19  baseRent                  268850 non-null  float64
 20  houseNumber               197832 non-null  object
 21  livingSpace               268850 non-null  float64
 22  geo_krs                   268850 non-null  object
 23  condition                 200361 non-null  object
 24  interiorQual              156185 non-null  object
 25  petsAllowed               154277 non-null  object
 26  street                    268850 non-null  object
 27  streetPlain               197837 non-null  object
 28  lift                      268850 non-null  bool
 29  baseRentRange             268850 non-null  int64
 30  typeOfFlat                232236 non-null  object
 31  geo_plz                   268850 non-null  int64
 32  noRooms                   268850 non-null  float64
 33  thermalChar               162344 non-null  float64
 34  floor                     217541 non-null  float64
 35  numberOfFloors            171118 non-null  float64
 36  noRoomsRange              268850 non-null  int64
 37  garden                    268850 non-null  bool
 38  livingSpaceRange          268850 non-null  int64
 39  regio2                    268850 non-null  object
 40  regio3                    268850 non-null  object
 41  description               249103 non-null  object
 42  facilities                215926 non-null  object
 43  heatingCosts              85518 non-null   float64
 44  energyEfficiencyClass     77787 non-null   object
 45  lastRefurbish             80711 non-null   float64
 46  electricityBasePrice      46846 non-null   float64
 47  electricityKwhPrice       46846 non-null   float64
 48  date                      268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [30]:
# To print the numbers of rows and columns
df_rental.shape

(268850, 49)

In [31]:
# To rename columns with ambiguous names
df_rental.rename(columns = {'regio1' : 'state', 'serviceCharge' : 'service charge', 'heatingType' : 'heating type', 'telekomTvOffer' : 'telekom tv offer', 'telekomHybridUploadSpeed' : 'telekom hybrid upload speed', 'newlyConst' : 'newly constructed', 'picturecount' : 'picture count', 'picturetrend' : 'picture trend', 'telekomUploadSpeed' : 'telekom upload speed', 'totalRent' : 'total rent', 'yearConstructed' : 'year constructed'}, inplace = True)

In [32]:
df_rental.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 268850 entries, 0 to 268849
Data columns (total 49 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   state                        268850 non-null  object
 1   service charge               261941 non-null  float64
 2   heating type                 223994 non-null  object
 3   telekom tv offer             236231 non-null  object
 4   telekom hybrid upload speed  45020 non-null   float64
 5   newly constructed            268850 non-null  bool
 6   balcony                      268850 non-null  bool
 7   picture count                268850 non-null  int64
 8   pricetrend                   267018 non-null  float64
 9   telekom upload speed         235492 non-null  float64
 10  total rent                   228333 non-null  float64
 11  year constructed             211805 non-null  float64
 12  scoutId                      268850 non-null  int64
 13  noParkSpaces                 93052 non-null   float64
 14  firingTypes                  211886 non-null  object
 15  hasKitchen                   268850 non-null  bool
 16  geo_bln                      268850 non-null  object
 17  cellar                       268850 non-null  bool
 18  yearConstructedRange         211805 non-null  float64
 19  baseRent                     268850 non-null  float64
 20  houseNumber                  197832 non-null  object
 21  livingSpace                  268850 non-null  float64
 22  geo_krs                      268850 non-null  object
 23  condition                    200361 non-null  object
 24  interiorQual                 156185 non-null  object
 25  petsAllowed                  154277 non-null  object
 26  street                       268850 non-null  object
 27  streetPlain                  197837 non-null  object
 28  lift                         268850 non-null  bool
 29  baseRentRange                268850 non-null  int64
 30  typeOfFlat                   232236 non-null  object
 31  geo_plz                      268850 non-null  int64
 32  noRooms                      268850 non-null  float64
 33  thermalChar                  162344 non-null  float64
 34  floor                        217541 non-null  float64
 35  numberOfFloors               171118 non-null  float64
 36  noRoomsRange                 268850 non-null  int64
 37  garden                       268850 non-null  bool
 38  livingSpaceRange             268850 non-null  int64
 39  regio2                       268850 non-null  object
 40  regio3                       268850 non-null  object
 41  description                  249103 non-null  object
 42  facilities                   215926 non-null  object
 43  heatingCosts                 85518 non-null   float64
 44  energyEfficiencyClass        77787 non-null   object
 45  lastRefurbish                80711 non-null   float64
 46  electricityBasePrice         46846 non-null   float64
 47  electricityKwhPrice          46846 non-null   float64
 48  date                         268850 non-null  object
dtypes: bool(6), float64(18), int64(6), object(19)
memory usage: 89.7+ MB

In [33]:
# To rename additional columns
df_rental.rename(columns = {'regio3' : 'city/town', 'scoutID' : 'scout id', 'noParkSpaces' : 'parking spaces', 'firingType' : 'energy source', 'hasKitchen' : 'kitchen', 'baseRent' : 'base rent', 'livingSpace' : 'living space', 'condition' : 'condition of flat', 'interiorQual' : 'interior qual', 'petsAllowed' : 'pets allowed', 'baseRentRange' : 'base rent range', 'typeOfFlat' : 'type of flat', 'geo_plz' : 'postal code', 'noRooms' : 'number of rooms', 'heatingCosts' : 'heating cost'}, inplace = True)

In [34]:
# To drop irrelevant columns
df_rental = df_rental.drop(columns = ['pricetrend', 'scoutId', 'geo_bln', 'yearConstructedRange', 'numberOfFloors', 'houseNumber', 'noRoomsRange', 'description', 'facilities',  'heating cost', 'energyEfficiencyClass', 'regio2', 'street', 'streetPlain'])

In [35]:
df_rental.shape

(268850, 35)

In [36]:
# To check for missing data
df_rental.isnull().sum()

state                               0
service charge                   6909
heating type                    44856
telekom tv offer                32619
telekom hybrid upload speed    223830
newly constructed                   0
balcony                             0
picture count                       0
telekom upload speed            33358
total rent                      40517
year constructed                57045
parking spaces                 175798
firingTypes                     56964
kitchen                             0
cellar                              0
base rent                           0
living space                        0
geo_krs                             0
condition of flat               68489
interior qual                  112665
pets allowed                   114573
lift                                0
base rent range                     0
type of flat                    36614
postal code                         0
number of rooms                     0
thermalChar                    106506
floor                           51309
garden                              0
livingSpaceRange                    0
city/town                           0
lastRefurbish                  188139
electricityBasePrice           222004
electricityKwhPrice            222004
date                                0
dtype: int64

In [37]:
# To perform summary statistics of data
df_rental.describe()

,service charge,telekom hybrid upload speed,picture count,telekom upload speed,total rent,year constructed,parking spaces,base rent,living space,base rent range,postal code,number of rooms,thermalChar,floor,livingSpaceRange,lastRefurbish,electricityBasePrice,electricityKwhPrice
count,261941.000000,45020.0,268850.000000,235492.000000,2.283330e+05,211805.000000,93052.000000,2.688500e+05,268850.000000,268850.000000,268850.000000,268850.000000,162344.000000,217541.000000,268850.000000,80711.000000,46846.000000,46846.000000
mean,151.206113,10.0,9.791958,28.804928,9.013315e+02,1966.400590,1.327634,6.941294e+02,74.355548,3.765256,37283.022235,2.641261,114.749533,2.122405,3.070790,2013.904536,89.113612,0.199769
std,308.295790,0.0,6.408399,16.337151,3.323833e+04,46.992207,8.361403,1.953602e+04,254.759208,2.214357,27798.037296,2.633440,61.653663,3.634934,1.407127,10.963125,5.395805,0.009667
min,0.000000,10.0,0.000000,1.000000,0.000000e+00,1000.000000,0.000000,0.000000e+00,0.000000,1.000000,852.000000,1.000000,0.100000,-1.000000,1.000000,1015.000000,71.430000,0.170500
25%,95.000000,10.0,6.000000,10.000000,4.698000e+02,1950.000000,1.000000,3.380000e+02,54.000000,2.000000,9128.000000,2.000000,79.000000,1.000000,2.000000,2012.000000,90.760000,0.191500
50%,135.000000,10.0,9.000000,40.000000,6.500000e+02,1973.000000,1.000000,4.900000e+02,67.320000,3.000000,38667.000000,3.000000,107.000000,2.000000,3.000000,2017.000000,90.760000,0.198500
75%,190.000000,10.0,13.000000,40.000000,9.850000e+02,1996.000000,1.000000,7.990000e+02,87.000000,5.000000,57072.000000,3.000000,140.300000,3.000000,4.000000,2019.000000,90.760000,0.205500
max,146118.000000,10.0,121.000000,100.000000,1.575154e+07,2090.000000,2241.000000,9.999999e+06,111111.000000,9.000000,99998.000000,999.990000,1996.000000,999.000000,7.000000,2919.000000,90.760000,0.227600

In [38]:
# To check for duplicate values
df_rental_dup = df_rental[df_rental.duplicated()]

In [39]:
# To print the duplicates
df_rental_dup

,state,service charge,heating type,telekom tv offer,telekom hybrid upload speed,newly constructed,balcony,picture count,telekom upload speed,total rent,...,number of rooms,thermalChar,floor,garden,livingSpaceRange,city/town,lastRefurbish,electricityBasePrice,electricityKwhPrice,date
2811,Sachsen,220.00,central_heating,ONE_YEAR_FREE,10.0,False,False,14,10.0,678.00,...,2.0,189.8,NaN,False,3,Mockau_Süd,1993.0,NaN,NaN,May19
9410,Sachsen,260.00,district_heating,ONE_YEAR_FREE,NaN,True,True,4,40.0,1295.00,...,4.0,62.0,1.0,True,6,Böhlitz_Ehrenberg,NaN,NaN,NaN,Feb20
11601,Nordrhein_Westfalen,35.00,NaN,ONE_YEAR_FREE,NaN,False,False,5,40.0,NaN,...,2.5,NaN,1.0,False,2,Kleve,NaN,NaN,NaN,Oct19
14109,Sachsen,150.00,district_heating,ONE_YEAR_FREE,10.0,False,True,4,2.4,290.10,...,3.0,125.0,5.0,False,3,Königshufen,NaN,NaN,NaN,Oct19
15066,Sachsen,105.00,gas_heating,ONE_YEAR_FREE,NaN,False,True,5,40.0,345.00,...,2.0,NaN,4.0,True,2,Hilbersdorf,1997.0,NaN,NaN,Oct19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
268259,Sachsen_Anhalt,142.75,district_heating,ONE_YEAR_FREE,NaN,False,True,13,40.0,599.55,...,2.0,NaN,2.0,False,2,Fermersleben,2018.0,NaN,NaN,May19
268321,Berlin,150.00,central_heating,ONE_YEAR_FREE,NaN,False,True,16,40.0,1795.00,...,3.0,90.0,5.0,False,5,Tiergarten_Tiergarten,2019.0,NaN,NaN,Feb20
268560,Schleswig_Holstein,80.40,district_heating,ONE_YEAR_FREE,NaN,False,False,2,10.0,389.23,...,1.0,NaN,0.0,False,1,Innenstadt,NaN,NaN,NaN,May19
268577,Baden_Württemberg,300.00,district_heating,ONE_YEAR_FREE,NaN,False,False,16,10.0,2660.00,...,2.0,NaN,1.0,False,4,Bergheim,NaN,NaN,NaN,Feb20
268786,Sachsen,255.43,NaN,ONE_YEAR_FREE,NaN,True,True,1,40.0,1123.88,...,4.0,72.5,NaN,False,5,Zentrum_Südost,2019.0,NaN,NaN,May19

#### There are 3414 duplicates

In [40]:
# To drop duplicates
df_rental_no_dup = df_rental.drop_duplicates()

In [41]:
df_rental_no_dup.shape

(267080, 35)

In [42]:
df_rental_no_dup.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 267080 entries, 0 to 268849
Data columns (total 35 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   state                        267080 non-null  object
 1   service charge               260228 non-null  float64
 2   heating type                 222530 non-null  object
 3   telekom tv offer             234796 non-null  object
 4   telekom hybrid upload speed  44771 non-null   float64
 5   newly constructed            267080 non-null  bool
 6   balcony                      267080 non-null  bool
 7   picture count                267080 non-null  int64
 8   telekom upload speed         234058 non-null  float64
 9   total rent                   226847 non-null  float64
 10  year constructed             210418 non-null  float64
 11  parking spaces               92514 non-null   float64
 12  firingTypes                  210549 non-null  object
 13  kitchen                      267080 non-null  bool
 14  cellar                       267080 non-null  bool
 15  base rent                    267080 non-null  float64
 16  living space                 267080 non-null  float64
 17  geo_krs                      267080 non-null  object
 18  condition of flat            198969 non-null  object
 19  interior qual                155174 non-null  object
 20  pets allowed                 153326 non-null  object
 21  lift                         267080 non-null  bool
 22  base rent range              267080 non-null  int64
 23  type of flat                 230713 non-null  object
 24  postal code                  267080 non-null  int64
 25  number of rooms              267080 non-null  float64
 26  thermalChar                  161295 non-null  float64
 27  floor                        216180 non-null  float64
 28  garden                       267080 non-null  bool
 29  livingSpaceRange             267080 non-null  int64
 30  city/town                    267080 non-null  object
 31  lastRefurbish                80050 non-null   float64
 32  electricityBasePrice         46597 non-null   float64
 33  electricityKwhPrice          46597 non-null   float64
 34  date                         267080 non-null  object
dtypes: bool(6), float64(14), int64(4), object(11)
memory usage: 62.7+ MB

In [43]:
df_rental_no_dup = df_rental_no_dup.drop(columns = ['base rent range', 'livingSpaceRange'])

In [44]:
# To Export cleaned rental data in pickle format
df_rental_no_dup.to_pickle(os.path.join(path, '02 Data','02 Prepared Data','apartment_rental_data.pkl'))